<div class="container">

    <hr>

    <div class="row">
        <div class="col-lg-8 col-sm-8">
            <h2>Who are you Hiring?</h2>

            <p>Here is where you will introduce visitors to the business. Make sure to use clear and informative
                sentences. Use appropriate keywords here to make sure search engines can find the business.</p>

            <p>When using this template, two decisions will be open to visitors. Decision one will be to use
                above-the-fold information to interact with the page. Decision two will be to scroll down and see the
                additional marketing boxes. Either way, the user will get the information they need!</p>

            <p><a class="btn btn-default btn-large" href="#">See My Resume &raquo;</a></p>
        </div>
        <div class="col-lg-4 col-sm-4">
            <h2>Contact Me</h2>
            <address>
                <strong>Michael Romrell</strong><br>
                Developer<br>
                Provo, UT 84601<br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr> (801) 792-1378<br>
                <abbr title="Email">E:</abbr> <a href="mailto:#">mromrell@live.com</a>
            </address>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive text-center" src="http://www.lumings.com/py/resume_screenshot.png">

            <h2>My Resume</h2>

            <p>These marketing boxes are a great place to put some information. These can contain summaries of what the
                company does, promotional information, or anything else that is relevant to the company. These will
                usually be below-the-fold.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/5/005/014/300/13d8821.jpg">

            <h2>LinkedIn</h2>

            <p>I keep linkedIn pretty up to date. Check out my profile for recommendations, groups and to see who I'm connected to.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc3/c22.0.869.869/s320x320/1383861_10151871425083972_347292478_n.jpg">

            <h2>Facebook</h2>

            <p>Check out my Facebook Profile to see an up to date view of what I've been up to. </p>
        </div>
    </div>

    <hr>



</div>