<div class="container">

    <hr>

    <div class="row">
        <div class="col-lg-8 col-sm-8">
            <h2>Who are you Hiring?</h2>

            <p>My job satisfaction can pretty easily be derived from one metric, <strong>How many solutions did I come up with today?</strong>
                I get really excited about breaking a problem down to its core parts and coming up with really effective solutions.</p>

            <p>My resume is filled with stats that show my ability to consistantly solve problems that increase productivity and reduce costs.
                But talk is cheap, <strong>Why don't you call me up and schedule an interview</strong> so that you can see how well I'll really benefit your organization.</p>

            <p><a class="btn btn-primary btn-large pull-right" href="img/resume-michael_romrell.pdf">See My Resume &raquo;</a></p>
        </div>
        <div class="col-lg-4 col-sm-4 center">

            <ul class="no-decoration">
                <li><h3>Michael Romrell</h3></li>
                <li class="thin-small" >Web Developer</li>
            </ul><br>
            <ul class="no-decoration">
                <li class="spacing">Provo, UT 84601</li>
                <li class="spacing"><strong>P:</strong> (801) 792-1378</li>
            </ul>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <h1 class="page-header">When I'm Not building apps |
                    <small>This is what I love to do</small>
                </h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-circle img-responsive text-center" src="img/advrider.jpg">

            <h2>Adventure Motorcycling</h2>

            <p>Nothing is better than riding my 550 pound BMW R1150GS motorcycle across some of the narliest terrian North America has to offer.
                I've ridden from New York to California and through Canada and the tip Baja Mexico.
                Nothing gets me more excited than slapping a sleeping bag on the back and traveling for days on random dirt trails. </p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" src="img/hiking.jpg">

            <h2>Hiking</h2>

            <p>I tend to find myself outdoors a lot.
                I often stay in shape by hiking straight up large rock slides as I search for abandoned mines and caves.
                I love company, so if it's just a day hike then I'll usually load my kid up in the backpack and explore some new trails.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-circle img-responsive" src="img/family.jpg">

            <h2>Hanging With My Family</h2>

            <p>My family is a blast to hang out with. From the lame stuff like shopping to the hilarious stuff that stems from too much sugar and too little sleep,
            they're a pretty cool collection of people. </p>
        </div>
    </div>

    <hr>



</div>