<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <img class="img-responsive img-rounded homewrapper" src="img/headshot2_mini.jpg"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
        <div class="col-lg-4">
            <h1>Hi. <p style="font-weight: 100; margin: 0 0 0px">I'm Michael &</p>I'm a Web Developer</h1>
            <br/>
            <p>I built this site to show off some skills, and play around with nifty new development tactics, So please, take a look around and see how I can help your business grow!</p>

            <div class="bs-callout bs-callout-info">
                <p><strong>About this site:</strong> This site <i>isn't</i> Wordpress, Joomla! or any other CMS. I created this site fom scratch using Angular JS, Node.JS, Javascript, Python, Django, and of course, HTML and CSS. </p>
            </div>

            <a class="btn btn-primary btn-lg" href="#about">See All of My Skills</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <img class="center img-responsive" src="img/creative.jpg" alt="Problem Solver"/>
            <h2>Creativity</h2>

            <p>I get really excited about coming up with simple answers to challenging problems. For me, the key to creative solutions is
                being able to strip a problem down to it's core parts and taking a high level assessment of the issue in order to
                avoid being too narrow with my scope of solutions.  </p>
            <!--<a class="btn btn-default" href="#">More Info</a>-->
            <br/><br/>
        </div>

        <div class="col-md-4">
             <img class="center img-responsive" src="img/management.jpg" alt="Great Manager"/>
            <h2>Management</h2>

            <p>Being a manager is a role that I really excel at. While managing a team of web developers, designers and content writers,
                I implemented process changes that helped us reduce costs by 76% and decreased the time it took to build a custom website from 139 days
                to only 37. We doubled our customer satisfaction score to 96% and had a great time in the process!</p>
            <!--<a class="btn btn-default" href="#">More Info</a>-->
            <br/><br/>
        </div>

        <div class="col-md-4">
            <img class="center img-responsive" src="img/fast.jpg" alt="Quick Developer"/>
            <h2>Efficiency</h2>

            <p >Solving problems quickly and efficiently are really important to me, that's why I'm always learning new things that help me
                improve and be more competitive. From simple keyboard shortcuts to strategies for better decision making,
                I love to work faster, smarter and come up with simple solutions to tough problems.</p>
            <!--<a class="btn btn-default" href="#">More Info</a>-->
            <br/><br/>
        </div>
    </div>

    <!-- Insert the Portfolio Page here -->
    <div ng-include src="portfoliolist"></div>



</div>