<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <img class="img-responsive img-rounded homewrapper" src="http://www.lumings.com/py/headshot2_mini.jpg"><!-- take out img-rounded if you don't want the rounded corners on the image -->
        </div>
        <div class="col-lg-4">
            <h1>Hi. <p style="font-weight: 100; margin: 0 0 0px">I'm Michael &</p>I'm a Web Developer</h1>
            <br/>
            <p>I built this site to show off some skills, and play around with nifty new development tactics, So please, take a look around and see how I can help your business grow!</p>

            <div class="bs-callout bs-callout-info">
                <p><strong>About this site:</strong> This site <i>isn't</i> Wordpress, Joomla! or any standard CMS. I created this site fom scratch using Bootstrap, Angular JS, Node.JS, Javascript, Python, Django, and of course, HTML and CSS. </p>
            </div>

            <a class="btn btn-primary btn-lg" href="#about">See All of My Skills</a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <img class="center img-responsive" src="http://www.lumings.com/py/creative.jpg" alt="Quick Developer"/>
            <h2>Creativity</h2>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin auctor quam ac tempor. Cras
                a ante sed libero mollis sodales. Praesent fringilla, neque ut ultrices faucibus, dolor eros ultrices
                neque, nec bibendum arcu ipsum eget justo.</p>
            <a class="btn btn-default" href="#">More Info</a>
        </div>

        <div class="col-md-4">
             <img class="center img-responsive" src="http://www.lumings.com/py/management.jpg" alt="Quick Developer"/>
            <h2>Management</h2>

            <p>Phasellus vestibulum sagittis purus laoreet varius. Pellentesque malesuada malesuada mattis. Aliquam sed
                porta nisi, eget suscipit dolor. Nam ipsum sapien, rhoncus eu leo eu, ultricies pellentesque tellus.</p>
            <a class="btn btn-default" href="#">More Info</a>
        </div>

        <div class="col-md-4">
            <img class="center img-responsive" src="http://www.lumings.com/py/fast.jpg" alt="Quick Developer"/>
            <h2>Efficiency</h2>

            <p >I -Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin auctor quam ac tempor. Cras
                a ante sed libero mollis sodales. Praesent fringilla, neque ut ultrices faucibus, dolor eros ultrices
                neque, nec bibendum arcu ipsum eget justo.</p>
            <a class="btn btn-default" href="#">More Info</a>
        </div>
    </div>

    <!-- Insert the Portfolio Page here -->
    <div ng-include src="portfoliolist"></div>



</div>