<div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header"><span class="thin">Portfolio:</span> {{project.name}}
                    <small>{{project.headline}}</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{project.image}}">
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                    <p>{{project.description}}</p>

                <h3>Technologies Used</h3>
                    <ul>
                        <li ng-repeat="bulletPoint in project.technology">{{bulletPoint}}</li>
                    </ul>
            </div>

        </div>

        <div class="row">
            <hr>
            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

             <div ng-repeat="row in rows">

                <div class="row">
                    <div class="col-sm-3" ng-repeat="portfolioItem in row">
                        <div class="thumbnail">
                      <img ng-src="{{portfolioItem.image}}" alt="#">
                      <div class="caption">
                        <h4>{{portfolioItem.name}}</h4>
                        <p>{{portfolioItem.description | lenLimit100}}</p>
                        <p><a ng-href="#/portfolio-project/{{portfolioItem.name | nospace}}" class="btn btn-primary" role="button">See More</a> </p>
                      </div>
                    </div>
                    </div>
                </div>

              <!--  <div class="col-sm-3 col-xs-6">
                    <div class="thumbnail">
                      <img ng-src="{{portfolioItem.image}}" alt="#">
                      <div class="caption">
                        <h4>{{portfolioItem.name}}</h4>
                        <p>{{portfolioItem.description | lenLimit100}}</p>
                        <p><a ng-href="#/portfolio-project/{{portfolioItem.name | nospace}}" class="btn btn-primary" role="button">See More</a> </p>
                      </div>
                    </div>
                </div>
                <br ng-if="($index+1)%2==0">-->



             </div>


<!--
            <section id="photos">
               <img src="http://placekitten.com/400/600" alt="Little doggie">
                <img src="http://placekitten.com/400/600" alt="Little doggie">
                <img src="http://placekitten.com/400/600" alt="Little doggie">
                <div ng-repeat="portfolioItem in portfolioList">

                    <a href="#/portfolio-project/{{portfolioItem.name | nospace}}">
                        <img src="{{ portfolioItem.image }}">
                        <h3>{{ portfolioItem.name }}</h3>
                    </a>
                        <p>{{ portfolio.description | lenLimit100}}</p>
                </div>
            </section>

             <section id="photos">
                <div class="pin grid effect-4" id="grid" ng-repeat="location in locationList | filter:searchText | orderBy:predicate:reverse">
                    <a href="#/locationDetails/{{ location.id }}">
                        <div class="image">
                            <img src="{{ location.photo_url }}">
                        </div>
                        <h3 class="title btn-success">{{ location.locationName }}</h3>
                    </a>
                    <div class="padding15">
                        <p>{{ location.description | lenLimit100}}</p>
                    </div>

                    <div class="pininfo">
                        <div class="pull-left">
                            <div class="center">
                                <a ng-click="countChoculaUp(location)"><span class="glyphicon glyphicon-chevron-up"></span></a><br/>
                                <p class="">{{location.voteCount}}</p>
                                <a ng-click="countChoculaDown(location)"><span class="glyphicon glyphicon-chevron-down"></span></a><br/>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="pull-right" ng-click="starLocation(location)">
                                <span class="glyphicon glyphicon-star-empty" ng-hide="location.starLocation"></span>
                                <span class="glyphicon glyphicon-star" ng-show="location.starLocation"></span>
                            </button>
                            <br/>
                            <br/>
                            <p>{{ userList[location.user -1].username }}</p>
                        </div>

                    </div>
                </div>
            </section>-->

        </div>

    </div>

</div>