<div>
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header"><span class="thin">Portfolio:</span> {{project.name}}
                    <small>{{project.headline}}</small>
                </h1>
            </div>

        </div>

        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{project.image}}">
            </div>

            <div class="col-md-4">
                <h3>Project Description</h3>
                    <p>{{project.description}}</p>

                <h3>Technologies Used</h3>
                    <ul>
                        <li ng-repeat="bulletPoint in project.technology">{{bulletPoint}}</li>
                    </ul>
            </div>

        </div>

        <div class="row">
            <hr>
            <div class="col-lg-12">
                <h3 class="page-header">Related Projects</h3>
            </div>

            <div ng-repeat="portfolioItem in portfolioList">

                <div class="col-sm-3 col-xs-6">
                    <div class="thumbnail">
                      <img ng-src="{{portfolioItem.image}}" alt="#">
                      <div class="caption">
                        <h4>{{portfolioItem.name}}</h4>
                        <p>{{portfolioItem.description | lenLimit100}}</p>
                        <p><a ng-href="#/portfolio-project/{{portfolioItem.name | nospace}}" class="btn btn-primary" role="button">See More</a> </p>
                      </div>
                    </div>

                </div>


            </div>

        </div>

    </div>

</div>