<div ng-controller="PortfolioController">
    <hr>
    <div class="row">


        <div class="row">
            <div class="col-lg-12">
                <div class="well text-center">
                    <h1 class="page-header">The Portfolio |
                        <small>Check out some of my previous work</small>
                    </h1>
                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <!----------------------------- Search and Filters----------------------------->
        <div class="pull-left well col-sm-3">
            <h2>Filter My Projects</h2>
            <h2 class="thin-small">By Feature</h2>

            <hr>

            <input type="text" ng-model="searchString" placeholder="Search Descriptions"><br><br>
            <br>
            <!--  http://jsfiddle.net/TheSharpieOne/ZebC7/   -->
            <div class="Filter">
                <li class="no-decoration" ng-repeat="Brand in BrandList | orderBy:['-status', 'brandname']">
                    <label><input type="checkbox" ng-model="brandCheckboxes[Brand.brandname]"/> {{Brand.brandname}}</label>
                </li>
                <!--<li class="no-decoration" ng-repeat="tech in technologyArray">
                    <label><input type="checkbox" ng-model="strict"/> {{tech}}</label>
                </li>-->
            </div>
            <hr>

            <div class="bs-callout bs-callout-info">
                <p><strong>About This Filter:</strong> I built this AJAX filter using Angular JS to dynamically populate my projects as you type out your search term. </p>
            </div>

        </div>

        <!--------------------------- Project list --------------------------------->

        <div class="col-sm-9 pull-right">
          <!-- <div ng-repeat="portfolioItem in portfolioArray | filter:strict" class="ng-scope"> -->
            <div ng-repeat="portfolioItem in portfolioArray | genSearch:searchString | filter: searchFilter" class="ng-scope">

                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <a ng-href="#/portfolio-project/{{portfolioItem.name | nospace }}"><img class="img-responsive" ng-src="{{portfolioItem.image}}"></a>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <h3>{{portfolioItem.name}}</h3>
                        <h4>{{portfolioItem.headline}}</h4>

                        <p>{{portfolioItem.description | lenLimit200}}</p>
                        <a class="btn btn-primary" ng-href="#/portfolio-project/{{portfolioItem.name | nospace}}">View
                            Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
                <hr>
            </div>

        </div>

        <!--<div class="col-sm-9 pull-right">
            <div ng-repeat="portfolioItem in portfolioListArray | genSearch:searchString | filter: searchFilter" class="ng-scope">
                <div class="row">
                    <div class="col-lg-7 col-md-7">
                        <a ng-href="#/portfolio-project/{{portfolioItem.name | nospace }}"><img class="img-responsive" ng-src="{{portfolioItem.image}}"></a>
                    </div>

                    <div class="col-lg-5 col-md-5">
                        <h3>{{portfolioItem.name}}</h3>
                        <h4>{{portfolioItem.headline}}</h4>

                        <p>{{portfolioItem.description | lenLimit200}}</p>
                        <a class="btn btn-primary" ng-href="#/portfolio-project/{{portfolioItem.name | nospace}}">View
                            Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>
                </div>
                <hr>
            </div>

        </div>-->
    </div>
</div>

<hr>
